<?xml version="1.0" encoding="UTF-8"?>
<!-- #%L
  elab4-backend
  =======
  Copyright (C) 2011 - 2022 Huygens ING
  =======
  This program is free software: you can redistribute 
  	it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either 
  	version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be 
  	useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
  	See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along 
  	with this program. If not, see <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L% -->

<config version="0.1">
    <settings>
        <solr>
            <url>http://solr.example.com/solr-elab3/entries/</url>
        </solr>

        <server>
            <scheme>http</scheme>
            <name>server.example.com</name>
            <port>2013</port>
        </server>

        <publication>
            <draft>
                <url>http://example.org/#/draft</url>
            </draft>
            <cdn>cdn.example.com/</cdn>
            <version>
                <work>development</work>
                <collection>development</collection>
            </version>
            <tomcat>
                <url>http://localhost:8080/</url>
                <webappdir>/usr/share/tomcat6/webapps/</webappdir>
            </tomcat>
        </publication>

        <security>
            <enabled>true</enabled>
            <hss>
                <url>http://security.example.com/</url>
                <credentials>Fake Credentials</credentials>
            </hss>
        </security>

    </settings>
</config>
