<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
  <settings>
    <version>1.0</version>

    <solr>
      <url>http://mb.huygens.knaw.nl/solr-elab4/entries/</url>
    </solr>

    <server>
      <scheme>http</scheme>
      <name>rest.elaborate.huygens.knaw.nl</name>
    </server>

    <publication>
      <cdn>hi7dev.huygens.knaw.nl/cdn/elaborate</cdn>
      <version>
        <work>development</work>
        <collection>development</collection>
      </version>
    </publication>

  </settings>

</config>
