<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
  <settings>
    <version>0.1</version>

    <solr>
      <url>http://demo7.huygens.knaw.nl/solr-elab4test/entries/</url>
    </solr>

    <server>
      <scheme>http</scheme>
      <name>rest.elaborate.huygens.knaw.nl</name>
    </server>

  </settings>
</config>
