<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
	<settings>
		<version>0.1a (test)</version>

		<solr>
			<url>http://demo7.huygens.knaw.nl/solr-elab4test/entries/</url>
		</solr>

		<server>
			<scheme>http</scheme>
			<name>rest.elaborate.huygens.knaw.nl</name>
		</server>

		<publication>
			<cdn>cdn.huygens.knaw.nl/elaborate</cdn>
			<version>
				<work>development</work>
				<collection>development</collection>
			</version>
			<tomcat>
				<url>http://demo7.huygens.knaw.nl/</url>
				<webappdir>/usr/share/tomcat6/webapps/</webappdir>
			</tomcat>
		</publication>

	</settings>
</config>
