<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
	<settings>
		<version>0.1</version>
		<solr>
			<url>http://localhost:8080/solr-elab3/entries/</url>
		</solr>

		<server>
			<scheme>http</scheme>
			<name>10.152.32.82</name>
			<port>2013</port>
		</server>

		<publication>
			<cdn>cdn.huygens.knaw.nl/elaborate</cdn>
			<version>
				<work>development</work>
				<collection>development</collection>
			</version>
			<tomcat>
				<url>http://localhost:8080/</url>
				<webappdir>C:/devel/tomcat6/webapps/</webappdir>
			</tomcat>
		</publication>

		<security>
			<enabled>true</enabled>
			<hss>
				<url>https://secure.huygens.knaw.nl/</url>
				<credentials>Huygens 2J5Zv$gb2l7l_V4GMoR)</credentials>
			</hss>
		</security>

	</settings>
</config>
